@import "@/components/style.scss";
@import "~@jswork/react-github-corner/dist/style.scss";
@import "~@jswork/react-sw-update-tips/dist/style.scss";
@import "~@jswork/react-demokit/dist/style.scss";
@import "~@jswork/react-rte-ui/dist/style.scss";
@import "~@jswork/wsui-rte-icons";
@import "~balloon-css";

.react-demokit {
  > .is-header{
    display: none;
  }
  .is-body {
    width: 60%;
    max-width: 600px;
    margin: 0 auto;
    h1,
    h2,
    h3 {
      font-weight: bold;
    }

    h1 {
      font-size: 18px;
    }
    h2 {
      font-size: 16px;
    }
    h3 {
      font-size: 14px;
    }

    ol,
    ul {
      li {
        margin-left: 14px;
      }
    }

    ul{
      list-style: circle;
      ul{
        margin-left: 14px;
      }
    }

    code{
      background: #eeeeee;
      border-radius: 3px;
      padding:2px;
      border:1px solid #ccc;
    }

    blockquote {
      border-left: 3px solid #ccc;
      padding: 10px;
      background: #eee;
    }
  }
}
