@import "@/components/style.scss";
@import "~@jswork/react-github-corner/dist/style.scss";
@import "~@jswork/react-sw-update-tips/dist/style.scss";
@import "~@jswork/react-demokit/dist/style.scss";
@import "~@jswork/react-rte-ui/dist/style.scss";
@import "~@jswork/wsui-rte-icons";
@import "~balloon-css";

.react-demokit {
  .is-body {
    width: 60%;
    max-width: 600px;
    margin: 0 auto;

    h1,
    h2,
    h3 {
      font-weight: bold;
    }

    h1 {
      font-size: 18px;
    }

    h2 {
      font-size: 16px;
    }

    h3 {
      font-size: 14px;
    }

    ol,
    ul {
      li {
        margin-left: 14px;
      }
    }

    ul {
      list-style: circle;

      ul {
        margin-left: 14px;
      }
    }

    code {
      background: #eeeeee;
      border-radius: 3px;
      padding: 2px;
      border: 1px solid #ccc;
    }

    blockquote {
      border-left: 3px solid #ccc;
      padding: 10px;
      background: #eee;
    }


    pre {
      position: relative;
      color: #353535;
      background: hsla(0, 0%, 78%, .3);
      border: 1px solid #c4c4c4;
      padding: 14px;
      border-radius: 2px;
      text-align: left;
      direction: ltr;
      tab-size: 4;
      white-space: pre-wrap;
      font-style: normal;
      min-width: 200px;

      code {
        background: none;
        border: none;
        padding: 0;
        border-radius: 0;
      }
    }
  }
}

.react-rte__toolbar {
  display: flex;
  align-items: center;

  .react-input {
    &[type="color"] {
      width: 26px;
      margin-right: 2px;
    }
  }
}
