@import "../src/components/style.scss";
@import "../node_modules/@jswork/keypad-quizizz/dist/style.css";
@import "../node_modules/@jswork/wsui-rte-icons/dist/style.css";
@import "../node_modules/katex/dist/katex.css";
@import "../node_modules/balloon-css/balloon.css";

.keypad-quizizz__viewer > * {
  pointer-events: none;
}

[data-slate-void="true"] {
  display: inline-block;
}

select {
  height: 30px;
}

h1 {
  font-size: 18px;
}

h2 {
  font-size: 16px;
}

blockquote {
  margin-left: 0;
  border-left: 4px solid #ccc;
  padding: 10px;
}
