.react-rte-slate {
  position: relative;

  > [role="textbox"] {
    background: #fff;
    border: 1px solid #ccc;
    transition: all 0.3s;
    box-shadow: 0 0 0 2px transparent;
    padding: 10px;
    &:focus {
      border-color: lighten(#3b99fc, 20%);
      box-shadow: 0 0 0 2px inset lighten(#3b99fc, 20%);
    }
  }
}
